.boost-section {
    padding-top: 154px;
    padding-bottom: 187px;
}

.boost-section__title {
    max-width: 1210px;
    margin: 0 auto;
}

.boost-section__articles {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boost-section__article {
    position: relative;
    min-height: 545px;
}

.boost-section__article__img {
    width: 100%;
    max-width: 179px;
    max-height: 167px;
}

.boost-section__article__title {
    margin-top: 60px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.boost-section__article__text {
    margin-top: 34px;
    max-width: 409px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.boost-section__article__link {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    max-width: 109px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.boost-section__text-wrapper {
    display: flex;
}
