.footer {
    padding-top: 92px;
}

.footer__columns__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding-bottom: 95px;
    border-bottom: 1px solid #000;
}

.footer__article {
    max-width: 370px;
}

.footer__article__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.footer__article__imgwrapper {
    max-width: 300px;
    margin-top: 28px;
}

.footer__aticle__img {
    width: 100%;
}

.footer__article__logowrapper {
    margin-top: 32px;
}

.footer__article__text {
    max-width: 290px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.footer__article__link {
    display: inline-block;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border-bottom: 2px solid #000;
    color: #000;
}

.footer__col {
    padding: 0 10px;
}

.footer__col__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.footer__col__list {
    margin-top: 21px;
}

.footer__col__linklist {
    margin-bottom: 15px;
}

.footer__col_link {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000;
}

.footer__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 52px;
    padding-bottom: 43px;
}

.footer__copy__leftside {
    max-width: 410px;
}

.footer__logo__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo__img {
    display: inline-block;
    width: 90px;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.footer__copy__slogan {
    max-width: 301px;
    margin-left: 15px;
}
