.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ccc;
}

.header__conteiner {
    max-width: 1378px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    max-width: 130px;
}

.header__nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 539px;
    margin-left: 51px;
}

.inner-wrapper {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    transition: 0.1s linear;
}

.nav__link:hover {
    outline: 2px solid;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.header__btn {
    text-align: center;
    width: 120px;
    padding: 12px 0;
}

.log-in__btn {
    background-color: transparent;
    border: 1px solid #00000080;
    color: #000;
}

.log-in__btn:hover {
    background-color: #cbcbcb;
    border: 1px solid #1a151580;
    color: #1a1515;
    transition: 0.3s ease-in;
}

.try-it__btn {
    background-color: #ff6336;
    color: #fff;
}

.try-it__btn:hover {
    background-color: #ff3c06;
    transition: 0.3s ease-in;
}
