
.header__conteiner {
    max-width: 1338px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-img {
    max-width: 130px;
}
.header__nav {
    display: flex; 
   justify-content: space-between;
   align-items: center;
    width: 539px;
    margin-left: 51px;
}




.inner-wrapper{
    display: flex;
    align-items: center;

}
.nav__link {
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #000000;

}

.header__buttons{
    display: flex;
    justify-content: space-between;
    width: 250px;


}
.header__button {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 12px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

.log-in__button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
}

.try-it__button {
background-color: #FF6336;
color: #fff;
}