.localize-section {
    padding-top: 120px;
    padding-bottom: 147px;
    background-color: #fff8e4;
}

.localize-section__title {
    max-width: 890px;
    margin: 0 auto;
}

.localize-section__cards {
    display: flex;
    justify-content: space-around;
    column-gap: 54px;
    row-gap: 110px;
    flex-wrap: wrap;
}

.localize-section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
    padding-top: 21px;
    max-width: 320px;
}

.card__img {
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
}

.card__title {
    margin-top: 23px;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.card__text {
    margin-top: 23px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
