.main-section {
    padding-top: 129px;
    padding-bottom: 172px;
    background-color: #fff;
}

.main-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.main-section__title {
    max-width: 552px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
}

.main-section__text {
    margin-top: 50px;
    max-width: 471px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.main-section__buttons {
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.main-section__btn {
    min-width: 160px;
    padding: 19px 0;
    text-align: center;
}

.book__btn {
    border: 1px solid #00000080;
    color: #000;
    transition: all 0.3s ease-in;
}

.book__btn:hover {
    background-color: #cbcbcb;
    border: 1px solid #1a151580;
    color: #1a1515;
}

.main-section__info {
    margin-top: 25px;
}

.main-section-img__wrapper {
    max-width: 735px;
}

.main-section__img {
    margin-top: 20px;
    max-width: 100%;
}

.main-section__mobile {
    display: none;
}
