.proposal-section {
    background-color: #e5e5e5;
}

.proposal-section__article {
    display: flex;
   column-gap: 155px;
   row-gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    padding: 125px 0;
}

.proposal-section article:nth-child(2),
.proposal-section article:nth-child(4) {
    flex-flow: row-reverse;
    flex-wrap: wrap;
}

.proposal-section article:nth-child(1) {
    padding-top: 90px;
}

.proposal-section article:nth-child(4) {
    padding-bottom: 150px;
}

.proposal-section__article__wrapper {
    min-width: 335px;
}

.article__title {
    max-width: 493px;
}

.article__text {
    max-width: 491px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.article__link {
    display: inline-block;
    margin-top: 30px;
    padding: 4px;
    font-family: 'Graphik LC TT';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
}

.article__link:hover {
    outline: 2px solid;
}

.article-img__wrapper {
    max-width: 632px;
}

.article__img {
    max-width: 100%;
}

.underline {
    border-bottom: 2px solid #000;
    color: #000;
}
