.reward-section {
    padding: 82px 0;
    background-color: #dabc98;
}

.reward-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reward-section__icon {
    max-width: 176px;
}

.reward-section__title {
    max-width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.reward-section__rate {
    display: flex;
    justify-content: space-evenly;
    width: 481px;
    padding-top: 30px;
    padding-bottom: 23px;
    border-left: 1px solid #000;
}

.rate__icon__first-wrapper {
    max-width: 128px;
}

.rate__icon__second-wrapper {
    max-width: 150px;
}

.rate__icon {
    width: 100%;
}
