@font-face {
  font-family: "Graphik LC TT";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Graphik-Regular.woff);
}
@font-face {
  font-family: "Graphik LC TT";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Graphik-Semibold.woff);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Graphik LC TT", sans-serif;
  color: #000;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000;
}

/*  Header  */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.header__container {
  max-width: 1388px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-img {
  max-width: 130px;
}
.header .inner-wrapper {
  display: flex;
  gap: 50px;
}
.header__nav {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.header .inner-wrapper {
  display: flex;
  align-items: center;
}
.header .nav__link {
  padding: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  transition: 0.1s linear;
}
.header .nav__link:hover {
  outline: 2px solid;
}
.header__buttons {
  display: flex;
  gap: 10px;
}
.header__btn {
  text-align: center;
  min-width: 120px;
  padding: 12px 0;
}
.header .log-in__btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  color: #000;
}
.header .log-in__btn:hover {
  background-color: #cbcbcb;
  border: 1px solid rgba(26, 21, 21, 0.5019607843);
  color: #1a1515;
  transition: 0.3s ease-in;
}
.header .try-it__btn {
  background-color: #ff6336;
  color: #fff;
}
.header .try-it__btn:hover {
  background-color: #ff3c06;
  transition: 0.3s ease-in;
}
.header__mobile {
  display: none;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  padding: 5px 0;
  cursor: pointer;
}
.header__mobile__line {
  height: 5px;
  margin: 3px;
  background-color: #000;
}

/* Main-section*/
.main-section {
  padding-top: 129px;
  padding-bottom: 172px;
  background-color: #fff;
}
.main-section__wrapper {
  display: flex;
  justify-content: space-between;
}
.main-section__title {
  max-width: 552px;
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
}
.main-section__text {
  margin-top: 50px;
  max-width: 471px;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
}
.main-section__buttons {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
.main-section__btn {
  min-width: 160px;
  padding: 19px 0;
  text-align: center;
}
.main-section__info {
  margin-top: 25px;
}
.main-section .main-section-img__wrapper {
  max-width: 735px;
}
.main-section__img {
  margin-top: 20px;
  max-width: 100%;
}
.main-section__mobile {
  display: none;
}

.book__btn {
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  color: #000;
  transition: all 0.3s ease-in;
}
.book__btn:hover {
  background-color: #fff;
  border: 1px solid rgba(26, 21, 21, 0.5019607843);
  color: #1a1515;
}

.try-it__btn {
  background-color: #ff6336;
  color: #fff;
  transition: 0.3s ease-in;
}
.try-it__btn:hover {
  background-color: #ff3c06;
}

/* Partners-section*/
.partners-section {
  background: #ff6336;
  padding: 106px 0;
}
.partners-section__title {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}
.partners-section__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.partners-section__logo__specialized {
  max-width: 138px;
}
.partners-section__logo__virgin {
  max-width: 72px;
}
.partners-section__logo__tidal {
  max-width: 150px;
}
.partners-section .partnerss-section__logo__revolut {
  max-width: 112px;
}
.partners-section__logo__yelp {
  max-width: 107px;
}
.partners-section__logo__daimler {
  max-width: 150px;
}
.partners-section__link {
  transform: scale(1);
}
.partners-section__link:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

/*  Proposal-section  */
.proposal-section {
  background-color: #fff;
}
.proposal-section__article {
  display: flex;
  -moz-column-gap: 155px;
       column-gap: 155px;
  row-gap: 50px;
  align-items: center;
  padding: 125px 0;
}
.proposal-section .proposal-section article:nth-child(2),
.proposal-section .proposal-section article:nth-child(4) {
  flex-direction: row-reverse;
}
.proposal-section .proposal-section article:nth-child(1) {
  padding-top: 90px;
}
.proposal-section .proposal-section article:nth-child(4) {
  padding-bottom: 150px;
}
.proposal-section__article__wrapper {
  min-width: 335px;
}
.proposal-section__mobile {
  display: none;
}

.article__title {
  max-width: 493px;
}

.article__text {
  max-width: 491px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.article__link {
  display: inline-block;
  margin-top: 30px;
  padding: 4px;
  font-family: "Graphik LC TT";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.article__link:hover {
  outline: 2px solid;
}

.article-img__wrapper {
  max-width: 632px;
}

.article__img {
  max-width: 100%;
}

.underline {
  border-bottom: 2px solid #000;
  color: #000;
}

/*Localize-section*/
.localize-section {
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #fff8e4;
}
.localize-section__title {
  max-width: 890px;
  text-align: center;
  margin: 0 auto;
}
.localize-section__cards {
  display: flex;
  -moz-column-gap: 130px;
       column-gap: 130px;
  row-gap: 54px;
  flex-wrap: wrap;
  margin-top: 58px;
  justify-content: center;
}
.localize-section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 23px;
  padding-top: 21px;
  max-width: 320px;
}
.localize-section .card__img {
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
}
.localize-section .card__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}
.localize-section .card__text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.boost-section {
  padding-top: 154px;
  padding-bottom: 187px;
}
.boost-section__title {
  max-width: 1210px;
  margin: 0 auto;
}
.boost-section__articles {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.boost-section__article {
  position: relative;
  min-height: 546px;
  padding-bottom: 40px;
}
.boost-section__article__img {
  width: 100%;
  max-width: 179px;
  max-height: 167px;
}
.boost-section__article__title {
  margin-top: 60px;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}
.boost-section__article__text {
  margin-top: 34px;
  max-width: 409px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.boost-section__article__link {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  max-width: 109px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.boost-section__text-wrapper {
  display: flex;
}

/* Revolut-section*/
.revolut-section {
  padding-top: 53px;
  padding-bottom: 105px;
  background-color: #c9e8f2;
}
.revolut-section__content {
  display: flex;
  justify-content: space-between;
}
.revolut-section__figure {
  max-width: 870px;
}
.revolut-section__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}
.revolut-section__author-info {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.revolut-section .revolut-link {
  display: inline-block;
  margin-top: 7px;
}
.revolut-section__img-wrapper {
  max-width: 310px;
}
.revolut-section__author-pic {
  width: 100%;
}

/* Reward-section  */
.reward-section {
  padding: 82px 0;
  background-color: #dabc98;
}
.reward-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reward-section__icon {
  max-width: 176px;
}
.reward-section__title {
  max-width: 461px;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}
.reward-section__rate {
  display: flex;
  justify-content: space-evenly;
  width: 481px;
  padding-top: 30px;
  padding-bottom: 23px;
  border-left: 1px solid #000;
}

.rate__icon__first-wrapper {
  max-width: 128px;
}

.rate__icon__second-wrapper {
  max-width: 150px;
}

.rate__icon {
  width: 100%;
}

/* Integration-section */
.integration-section {
  background: #fff;
  padding: 163px 0;
}
.integration-section__title {
  margin: 0 auto;
  max-width: 791px;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
}
.integration-section__subtitle {
  margin: 0 auto;
  max-width: 539px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.integration-section__img-wrapper {
  margin: 25px auto 0;
  max-width: 1023px;
}
.integration-section__img {
  width: 100%;
}
.integration-section__btn {
  display: block;
  width: 193px;
  margin: 32px auto 0;
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  background-color: #ff6336;
  color: #fff;
}
.integration-section__btn:hover {
  background-color: #ff3c06;
  transition: 0.3s ease-in;
}

/* Try-it-section */
.tryit-section {
  padding-top: 119px;
  padding-bottom: 161px;
  background-color: #ff6336;
}
.tryit-section__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.tryit-section__title {
  max-width: 784px;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
}
.tryit-section__subtitle {
  margin-top: 29px;
  max-width: 438px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.tryit-section .try-it-section__btn {
  margin-top: 54px;
  width: 160px;
  padding: 19px 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.tryit-section .try-it-section__btn:hover {
  background-color: #3f3f3f;
  transition: 0.3s linear;
}
.tryit-section .try-it-section__btn:active {
  background-color: rgba(0, 0, 0, 0.5019607843);
}

/* Footer*/
.footer {
  padding-top: 92px;
}
.footer__columns__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-bottom: 95px;
  border-bottom: 1px solid #000;
}
.footer__article {
  max-width: 370px;
}
.footer__article__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.footer__article__imgwrapper {
  max-width: 300px;
  margin-top: 28px;
}
.footer__aticle__img {
  width: 100%;
}
.footer__article__logowrapper {
  margin-top: 32px;
}
.footer__article__text {
  max-width: 290px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.footer__article__link {
  display: inline-block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  border-bottom: 2px solid #000;
  color: #000;
}
.footer__col__wrapper {
  display: flex;
  row-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: space-between;
}
.footer__col {
  padding: 0 10px;
}
.footer__col__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
.footer__col__list {
  margin-top: 21px;
}
.footer__col__linklist {
  margin-bottom: 15px;
}
.footer__col_link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 52px;
  padding-bottom: 43px;
}
.footer__copy__leftside {
  max-width: 410px;
}
.footer__logo__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer__logo__img {
  display: inline-block;
  width: 90px;
}
.footer .footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.footer__copy__slogan {
  max-width: 301px;
  margin-left: 15px;
}

@media screen and (max-width: 1200px) {
  .reward-section__title {
    max-width: 418px;
  }

  .reward-section__rate {
    width: 385px;
  }

  .reward-section__icon {
    max-width: 159px;
  }
}
@media screen and (max-width: 1085px) {
  .header__nav {
    gap: 3.5vw;
  }
}
@media screen and (max-width: 1024px) {
  /* main */
  .container {
    padding: 0 40px;
  }

  .title {
    font-size: 45px;
    line-height: 50px;
  }

  /* header */
  .header__container {
    padding: 0 40px;
  }

  .header__nav {
    display: none;
  }

  .header__mobile {
    display: block;
  }

  /* main-section */
  .main-section {
    padding-top: 105px;
    padding-bottom: 120px;
  }
  .main-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-section .main-section-img__wrapper {
    display: none;
  }
  .main-section__title {
    max-width: 100%;
    font-size: 55px;
    line-height: 60px;
  }
  .main-section__text {
    max-width: 100%;
  }
  .main-section__mobile {
    display: block;
    margin: 10px 0;
  }

  /* partner-section */
  .partners-section {
    padding: 106px 0;
  }
  .partners-section__title {
    max-width: 720px;
    text-align: center;
  }
  .partners-section__logo {
    -moz-column-gap: 150px;
         column-gap: 150px;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  /* proposal */
  .proposal-section__article {
    padding: 70px 0;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }

  /* boost-section */
  .boost-section {
    padding-top: 70px;
    padding-bottom: 120px;
  }
  .boost-section__articles {
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 115px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .boost-section__title {
    max-width: 100%;
    text-align: center;
  }

  /* revolut-section */
  .revolut-section__content {
    -moz-column-gap: 40px;
         column-gap: 40px;
    justify-content: center;
  }

  .revolut-section__author-pic {
    width: 280px;
  }

  .revolut-section__text {
    font-size: 24px;
    line-height: 33px;
  }

  /* reward-section */
  .reward-section__rate {
    -moz-column-gap: 17px;
         column-gap: 17px;
    padding-left: 10px;
  }

  .reward-section__content {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .reward-section__title {
    font-size: 30px;
    line-height: 42px;
  }

  .reward-section__icon {
    max-width: 140px;
  }

  /* integration-section */
  .integration-section {
    padding: 100px 0;
  }
  .integration-section__title {
    font-size: 50px;
    line-height: 65px;
  }
  .integration-section__subtitle {
    font-size: 22px;
    line-height: 28px;
  }

  /* tryit-section */
  .tryit-section {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .tryit-section__title {
    font-size: 50px;
    line-height: 65px;
  }

  /* footer */
  .footer__columns__wrapper {
    justify-content: center;
    align-items: unset;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-bottom: 60px;
  }

  .footer__col__wrapper {
    display: flex;
    flex-flow: row wrap;
    row-gap: 40px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    justify-content: center;
  }
}
@media screen and (max-width: 973px) {
  .boost-section__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 480px;
  }

  .boost-section__article__text {
    max-width: 620px;
  }
}
@media screen and (max-width: 768px) {
  /* header */
  .header__buttons {
    display: none;
  }

  .header__mobile {
    margin: unset;
    margin-left: auto;
  }

  /* main */
  .title {
    font-size: 35px;
    line-height: 45px;
  }

  /* main-section */
  .main-section {
    padding-top: 65px;
    padding-bottom: 80px;
  }
  .main-section__title {
    font-size: 40px;
    line-height: 55px;
  }
  .main-section__text {
    margin-top: 40px;
    font-size: 20px;
    line-height: 29px;
  }

  /* partners-section */
  .partners-section {
    padding: 70px 0;
  }

  /* proposal-section */
  .proposal-section article:nth-child(1) {
    padding-top: 70px;
  }

  .proposal-section__article {
    justify-content: center;
    padding: 40px 0;
  }

  .article__text {
    max-width: 555px;
    margin-top: 23px;
    font-size: 18px;
    line-height: 28px;
  }

  .proposal-section__article__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-img__wrapper {
    display: none;
  }

  .proposal-section__mobile {
    display: block;
    max-width: 340px;
    margin: 31px 0;
  }

  .proposal-section article:nth-child(4) {
    padding-bottom: 85px;
  }

  /* localize-section */
  .localize-section {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .localize-section__card {
    row-gap: 16px;
    padding-top: 5px;
    max-width: 250px;
  }

  .card__title {
    font-size: 23px;
    line-height: 33px;
  }

  .card__text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  /* boost-section */
  .boost-section__articles {
    row-gap: 80px;
  }

  .boost-section__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 469px;
  }

  .boost-section__article__text {
    max-width: 600px;
    margin-top: 26px;
    font-size: 18px;
    line-height: 28px;
  }

  /* revolut-section */
  .revolut-section {
    padding-top: 53px;
    padding-bottom: 73px;
  }
  .revolut-section__text {
    font-size: 19px;
    line-height: 30px;
  }

  /* reward-section */
  .reward-section__title {
    font-size: 22px;
    line-height: 36px;
  }

  .reward-section__icon {
    max-width: 100px;
  }

  .reward-section__content {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }

  /* intergation-section */
  .integration-section__title {
    font-size: 38px;
    line-height: 49px;
  }

  .integration-section__subtitle {
    font-size: 20px;
    line-height: 26px;
  }

  /* tryit-section */
  .tryit-section {
    padding-top: 64px;
    padding-bottom: 78px;
  }
  .tryit-section__title {
    font-size: 38px;
    line-height: 49px;
  }

  /* footer */
  .footer {
    padding-top: 60px;
  }
  .footer__article__title {
    font-size: 35px;
    line-height: 44px;
  }
}
@media screen and (max-width: 660px) {
  .header__container {
    padding: 0 20px;
  }

  .container {
    padding: 0 30px;
  }

  .main-section__title {
    text-align: center;
  }

  .main-section__btn {
    min-width: 135px;
  }

  .proposal-section__article__wrapper {
    min-width: unset;
  }

  .proposal-section article:nth-child(4) {
    padding-bottom: 60px;
  }

  .localize-section__cards {
    row-gap: 30px;
    margin-top: 40px;
  }

  .card__img {
    max-width: 140px;
    margin: 0 auto;
  }

  .localize-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .revolut-section__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .revolut-section__author-pic {
    width: 220px;
  }

  .reward-section__title {
    font-size: 23px;
    line-height: 29px;
    text-align: center;
  }

  .reward-section__content {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .reward-section__rate {
    -moz-column-gap: 40px;
         column-gap: 40px;
    padding: unset;
    width: 285px;
    padding-top: 30px;
    padding-bottom: 23px;
    border-left: unset;
  }

  .footer__col__wrapper {
    justify-content: start;
  }

  .footer__copy {
    row-gap: 20px;
  }

  .footer__logo__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media screen and (max-width: 360px) {
  .main-section {
    padding-top: 45px;
    padding-bottom: 55px;
  }
  .main-section__text {
    margin-top: 25px;
    font-size: 17px;
    line-height: 29px;
  }
  .main-section__info {
    margin-top: 20px;
    font-size: 14px;
  }
  .main-section__title {
    font-size: 36px;
    line-height: 43px;
  }

  .title {
    font-size: 30px;
    line-height: 43px;
  }

  .partners-section {
    padding-top: 48px;
    padding-bottom: 65px;
  }

  .partners-section__logo {
    row-gap: 45px;
    margin-top: 45px;
  }

  .proposal-section article:nth-child(1) {
    padding-top: 60px;
  }

  .proposal-section__article {
    justify-content: center;
    padding: 25px 0;
  }

  .article__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px;
  }

  .boost-section__article__title {
    margin-top: 28px;
    font-size: 25px;
    line-height: 30px;
  }

  .boost-section__article__text {
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
  }

  .revolut-section__text {
    font-size: 17px;
    line-height: 27px;
  }

  .revolut-section__author-info {
    font-size: 14px;
    line-height: 25px;
  }

  .revolut-link {
    margin-top: 10px;
  }

  .reward-section {
    padding: 60px 0;
  }

  .integration-section {
    padding: 65px 0;
  }
}/*# sourceMappingURL=main-styles.css.map */