/*Localize-section*/
.localize-section {
    padding-top: 120px;
    padding-bottom: 150px;
    background-color: #fff8e4;


&__title {
    max-width: 890px;
    text-align: center;
    margin: 0 auto;
}

&__cards {
    display: flex;
    column-gap: 130px;
    row-gap: 54px;
    flex-wrap: wrap;
    margin-top: 58px;
    justify-content: center;
}

&__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 23px;
    padding-top: 21px;
    max-width: 320px;
}

.card__img {
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
}

.card__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.card__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
}