// colors
$colorBlack: #000;
$colorWhite: #fff;
$colorOrange: #ff6336;
$colorOrangeHover: #ff3c06;
$colorBorderWhite: #ccc;
$colorBorderBlackAlfa: #00000080;
$colorWhiteHover: #cbcbcb;
$colorBlackHover: #1a1515;
$colorBlackAlfaHover: #1a151580;
$colorReward: #dabc98;
$colorHoverGrey: #3f3f3f;
